* {
  color: white;
}

.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  /* opacity: 0; */
  border-radius: 20px;
  padding: 10%;
  margin: 20% 0;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  width: 35%;
  margin-bottom: 5%;
}

.showBtn {
  color: white;
}